// @Navbar
.navbar-custom {
  margin-bottom: 0;
  border-bottom: 1px solid rgba(255,255,255,.3);
  text-transform: uppercase;
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
  background-color: #eff2eb;

  .navbar-brand {
    width: 75px;
    font-weight: 700;

    &:focus {
      outline: 0;
    }
  }

  .navbar-toggle {
    margin-top: 18px;
    padding: 4px 6px;
    font-size: 16px;
    color: #c12b38;

    &:focus,
    &:active {
      outline: 0;
    }
  }

  a {
    color: #c12b38;
  }

  .nav li.active {
    outline: none;
    background-color: rgba(255,255,255,.3);
  }
  .nav li a {
    font-size: 10px;
    padding: 10px 6px;
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;

    &:hover,
    &:focus,
    &:active {
      outline: 0;
      background-color: rgba(255,255,255,.3);
    }
    &.active {
      background-color: rgba(255,255,255,.6);
    }
  }
  .contain {
    padding: 0;
    overflow: hidden;
  }
}
.navbar-brand {
  height: auto;
}
.logo {
  width: 100px;
  padding: 0;
  margin: 14px 0;
}
// @Navbar - Dropdown
.navbar-nav>li>a {
  line-height: 48px;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  font-size: 14px;
  text-align: left;
  list-style: none;
  background-color: #fcfcfc;
  background-color: rgba(255,255,255,.7);
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: none;
  border: none;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;

  >li>a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #444;
    white-space: nowrap;

    &:hover {
      color: #444;
    }
  }
}

body.home {
  .navbar-custom {
    background-color: #000;
    a {
      color: #fff;
    }
  }
}

@media (min-width: $screen-sm-min - 1) {
  .navbar {
    // padding: 20px 0;
    border-bottom: 0;
    letter-spacing: 1px;
    // background: 0 0;
    // -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
    // -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
    // transition: background .5s ease-in-out,padding .5s ease-in-out;
  }

  .navbar-custom {
    background-color: rgba(239, 242, 235, 1);

    .contain {
      padding: 0 26px;
    }
  }

  body.home {
    .navbar-custom {
      background-color: rgba(0,0,0,0.7);
    }

    .top-nav-collapse, {
      background-color: #000;
      padding: 0;
    }

    .navbar-collapse {
      // background-color: rgba(0,0,0,0.7);
    }
  }

  .top-nav-collapse {
    background-color: #eff2eb;
    padding: 0;
  }

  .navbar-custom.top-nav-collapse {
    border-bottom: 1px solid rgba(255,255,255,.3);
  }
}

@media (min-width: $screen-md-min - 1) {
  .navbar {
    // padding: 20px 0;
  }

  .intro.home {
    height: 50vw;
  }
}

.fa {
  line-height: normal;
}

.fa-navicon:before, .fa-reorder:before, .fa-bars:before {
  font-size: 24px;
}
