.act-now {
  .intro-banner {
    background-image: url('/assets/images/banner_act_now_sm.jpg');
    @media(min-width: $screen-sm-min - 1) {
      background-image: url('/assets/images/banner_act_now.jpg');
      background-position: right center;
    }
  }

  .intro-text {
    @media (min-width: $screen-md-min - 1) {
      max-width: 550px;
    }
  }

  .intro.page {
    .intro-body {
      width: 85%;
      @media (min-width: $screen-md-min - 1) {
        width: 65%;
      }
    }
    .intro-body .intro-text {
      max-width: 550px;
    }
  }
}

.fairness-in-organ-allocation {
  .intro-banner {
    background-image: url('/assets/images/banner_fairness_in_organ_allocation_sm.jpg');
    @media(min-width: $screen-sm-min - 1) {
      background-image: url('/assets/images/banner_fairness_in_organ_allocation.jpg');
      background-position: right center;
    }
  }
}

.fairness-in-healthcare-delivery {
  .intro-banner {
    background-image: url('/assets/images/banner_fairness_in_healthcare_delivery_sm.jpg');
    @media(min-width: $screen-sm-min - 1) {
      background-image: url('/assets/images/banner_fairness_in_healthcare_delivery.jpg');
      background-position: right center;
    }
  }
}

.religious-beliefs {
  .intro-banner {
    background-image: url('/assets/images/banner_religious_beliefs_sm.jpg');
    @media(min-width: $screen-sm-min - 1) {
      background-image: url('/assets/images/banner_religious_beliefs.jpg');
      background-position: right center;
    }
  }
}

.lets-talk-about-life {
  .intro-banner {
    background-image: url('/assets/images/banner_lets_talk_about_life_sm.jpg');
    @media(min-width: $screen-sm-min - 1) {
      background-image: url('/assets/images/banner_lets_talk_about_life.jpg');
      background-position: right center;
    }
  }
}
