.home .content-section {
  padding-top: 0;
  padding-bottom: 100px;
}
.content-section {
  // background-color: #232d40;
  padding-top: 100px;

  ul {
    list-style-type: none;
    padding: 0;
    margin-bottom: 26px;

    li a {
      font-size: 18px;
      font-weight: 700;
      line-height: 1.6;
      text-align: left;
      &:hover, &:focus {
        color: #DDBD6A;
        text-decoration: underline;
      }
    }
  }
}

.participate-section {
  width: 100%;
  padding: 50px 0;
  color: #fff;
  background: url(../assets/images/participate-bg2.jpg) no-repeat center center scroll;
  background-color: #000;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

#video-playlist {
  padding-top: 0;

  .video-playlist-section {
    background-color: #232d40;
    padding: 20px;

    .btn-lg, .btn-group-lg > .btn {
      font-size: 8px;
      padding: 5px;

      @media(min-width: $screen-sm-min - 1) {
        padding: 10px 16px;
      }
    }
  }
}

.bottom-section {
  font-weight: normal;
  background-color: #232d40;
  padding: 40px 0 40px;

  position: relative;
  overflow: hidden;

  .divider {
    width: 100%;
    height: 10px;
    background-color: #BF3C1E;
    // border-top: 10px solid orangered;
    // border-bottom: 10px solid orangered;
  }

  h2 {
    // font-family: 'Playfair Display', serif;
    font-size: 24px;
    // font-style: italic;
    font-weight: 900;
    text-transform: none;;
    padding: 26px 0;
    span {
      color: #DDBD6A;
    }
  }

  h3 {
    margin: 0;
  }

  p {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 16px;
  }

  .intro_paragraph {

    p {
      font-family: 'Lato', sans-serif;
      font-size: 18px;
      font-weight: 700;
    }
  }

  .highlighted {
    color: #DDBD6A;
    font-size: 18px;
    line-height: 1.2;
    font-weight: 900;
  }

  a {
    color: #DDBD6A;
    &:hover {
      color: #DDBD6A;
      text-decoration: underline;
    }
  }

  .bottom_more {
    position: relative;
    .more_block {
      background-color: rgba(0,0,0, .1);
      margin-top: 20px;
      padding: 20px 40px;
      @media(min-width: $screen-sm-min - 1) {
        padding: 20px 160px;
      }
    }
    .intro_more {
      font-family: 'Playfair Display', serif;
      font-size: 28px;
      font-weight: 900;
      font-style: italic;
      padding: 0;
      margin-top: 20px;
      margin-bottom: 0;
    }

    ul {
      padding-left: 40px;
    }
  }
}

.slant {
  width: 0;
   height:0;
   position:absolute;
   bottom:0px;
   border-bottom: 450px solid #c12b38;
   border-left: 100vw solid transparent;
}

@media(min-width: $screen-sm-min - 1) {
  .first.content-section,
  .info.content-section {
    padding-top: 118px;
  }
  .content-section {
    padding-top: 130px;
  }

  .participate-section,
  #donor {
    padding: 100px 0;
  }
  .bottom-section {
    padding: 10px 0 80px;
    h2 {
      font-size: 44px;
    }
    p {
      font-size: 16px;
    }
    .intro_paragraph p,
    .highlighted {
      font-size: 28px;
    }
  }
}

@media(min-width: $screen-md-min - 1) {
  #video-playlist {
    .video-playlist-section {
      background-color: #232d40;
      padding-top: 40px;

      videogular, [videogular] {
        border: 10px solid #19202F;
      }
      .btn-lg, .btn-group-lg > .btn {
        font-size: 14px;
      }
    }
  }
}
