@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700,900,900italic|Montserrat:400,700|Playfair+Display:400italic,700italic,900italic|Roboto+Condensed:400,700");
/* line 2, /Users/dissakanpunyapab/tomorrowproject/project-webacts-src/src/app/styles/_navbar.scss */
.navbar-custom {
  margin-bottom: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  text-transform: uppercase;
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
  background-color: #eff2eb; }
  /* line 9, /Users/dissakanpunyapab/tomorrowproject/project-webacts-src/src/app/styles/_navbar.scss */
  .navbar-custom .navbar-brand {
    width: 75px;
    font-weight: 700; }
    /* line 13, /Users/dissakanpunyapab/tomorrowproject/project-webacts-src/src/app/styles/_navbar.scss */
    .navbar-custom .navbar-brand:focus {
      outline: 0; }
  /* line 18, /Users/dissakanpunyapab/tomorrowproject/project-webacts-src/src/app/styles/_navbar.scss */
  .navbar-custom .navbar-toggle {
    margin-top: 18px;
    padding: 4px 6px;
    font-size: 16px;
    color: #c12b38; }
    /* line 25, /Users/dissakanpunyapab/tomorrowproject/project-webacts-src/src/app/styles/_navbar.scss */
    .navbar-custom .navbar-toggle:focus, .navbar-custom .navbar-toggle:active {
      outline: 0; }
  /* line 30, /Users/dissakanpunyapab/tomorrowproject/project-webacts-src/src/app/styles/_navbar.scss */
  .navbar-custom a {
    color: #c12b38; }
  /* line 34, /Users/dissakanpunyapab/tomorrowproject/project-webacts-src/src/app/styles/_navbar.scss */
  .navbar-custom .nav li.active {
    outline: none;
    background-color: rgba(255, 255, 255, 0.3); }
  /* line 38, /Users/dissakanpunyapab/tomorrowproject/project-webacts-src/src/app/styles/_navbar.scss */
  .navbar-custom .nav li a {
    font-size: 12px;
    padding: 10px 6px;
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out; }
    /* line 47, /Users/dissakanpunyapab/tomorrowproject/project-webacts-src/src/app/styles/_navbar.scss */
    .navbar-custom .nav li a:hover, .navbar-custom .nav li a:focus, .navbar-custom .nav li a:active {
      outline: 0;
      background-color: rgba(255, 255, 255, 0.3); }
  /* line 52, /Users/dissakanpunyapab/tomorrowproject/project-webacts-src/src/app/styles/_navbar.scss */
  .navbar-custom .contain {
    padding: 0;
    overflow: hidden; }

/* line 57, /Users/dissakanpunyapab/tomorrowproject/project-webacts-src/src/app/styles/_navbar.scss */
.navbar-brand {
  height: auto; }

/* line 60, /Users/dissakanpunyapab/tomorrowproject/project-webacts-src/src/app/styles/_navbar.scss */
.logo {
  width: 100px;
  padding: 0;
  margin: 14px 0; }

/* line 66, /Users/dissakanpunyapab/tomorrowproject/project-webacts-src/src/app/styles/_navbar.scss */
.navbar-nav > li > a {
  line-height: 48px; }

/* line 70, /Users/dissakanpunyapab/tomorrowproject/project-webacts-src/src/app/styles/_navbar.scss */
.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  font-size: 14px;
  text-align: left;
  list-style: none;
  background-color: #fcfcfc;
  background-color: rgba(255, 255, 255, 0.7);
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: none;
  border: none;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none; }
  /* line 93, /Users/dissakanpunyapab/tomorrowproject/project-webacts-src/src/app/styles/_navbar.scss */
  .dropdown-menu > li > a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #444;
    white-space: nowrap; }
    /* line 102, /Users/dissakanpunyapab/tomorrowproject/project-webacts-src/src/app/styles/_navbar.scss */
    .dropdown-menu > li > a:hover {
      color: #444; }

/* line 109, /Users/dissakanpunyapab/tomorrowproject/project-webacts-src/src/app/styles/_navbar.scss */
body.home .navbar-custom {
  background-color: #000; }
  /* line 111, /Users/dissakanpunyapab/tomorrowproject/project-webacts-src/src/app/styles/_navbar.scss */
  body.home .navbar-custom a {
    color: #fff; }

@media (min-width: 767px) {
  /* line 118, /Users/dissakanpunyapab/tomorrowproject/project-webacts-src/src/app/styles/_navbar.scss */
  .navbar {
    border-bottom: 0;
    letter-spacing: 1px; }
  /* line 128, /Users/dissakanpunyapab/tomorrowproject/project-webacts-src/src/app/styles/_navbar.scss */
  .navbar-custom {
    background-color: #eff2eb; }
    /* line 131, /Users/dissakanpunyapab/tomorrowproject/project-webacts-src/src/app/styles/_navbar.scss */
    .navbar-custom .contain {
      padding: 0 26px; }
  /* line 137, /Users/dissakanpunyapab/tomorrowproject/project-webacts-src/src/app/styles/_navbar.scss */
  body.home .navbar-custom {
    background-color: rgba(0, 0, 0, 0.7); }
  /* line 141, /Users/dissakanpunyapab/tomorrowproject/project-webacts-src/src/app/styles/_navbar.scss */
  body.home .top-nav-collapse {
    background-color: #000;
    padding: 0; }
  /* line 151, /Users/dissakanpunyapab/tomorrowproject/project-webacts-src/src/app/styles/_navbar.scss */
  .top-nav-collapse {
    background-color: #eff2eb;
    padding: 0; }
  /* line 156, /Users/dissakanpunyapab/tomorrowproject/project-webacts-src/src/app/styles/_navbar.scss */
  .navbar-custom.top-nav-collapse {
    border-bottom: 1px solid rgba(255, 255, 255, 0.3); } }

@media (min-width: 991px) {
  /* line 166, /Users/dissakanpunyapab/tomorrowproject/project-webacts-src/src/app/styles/_navbar.scss */
  .intro.home {
    height: 50vw; } }

/* line 171, /Users/dissakanpunyapab/tomorrowproject/project-webacts-src/src/app/styles/_navbar.scss */
.fa {
  line-height: normal; }

/* line 175, /Users/dissakanpunyapab/tomorrowproject/project-webacts-src/src/app/styles/_navbar.scss */
.fa-navicon:before, .fa-reorder:before, .fa-bars:before {
  font-size: 24px; }

/* line 1, /Users/dissakanpunyapab/tomorrowproject/project-webacts-src/src/app/styles/_intro.scss */
.intro {
  display: block;
  position: relative;
  width: 100%;
  text-align: center;
  color: #fff;
  margin-top: 68px; }
  /* line 13, /Users/dissakanpunyapab/tomorrowproject/project-webacts-src/src/app/styles/_intro.scss */
  .intro .intro-body .brand-heading {
    font-size: 40px;
    text-transform: uppercase;
    letter-spacing: -5px; }
  /* line 20, /Users/dissakanpunyapab/tomorrowproject/project-webacts-src/src/app/styles/_intro.scss */
  .intro .intro-body .intro-text {
    font-size: 18px;
    font-weight: 400; }
    /* line 24, /Users/dissakanpunyapab/tomorrowproject/project-webacts-src/src/app/styles/_intro.scss */
    .intro .intro-body .intro-text.animated {
      -webkit-animation-duration: 3s;
      -moz-animation-duration: 3s;
      animation-duration: 3s; }

/* line 33, /Users/dissakanpunyapab/tomorrowproject/project-webacts-src/src/app/styles/_intro.scss */
.intro.home {
  margin-top: 68px;
  height: 350px;
  background: url(../assets/images/banner_home_intro.jpg) no-repeat bottom center scroll;
  background-color: #000;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover; }

/* line 43, /Users/dissakanpunyapab/tomorrowproject/project-webacts-src/src/app/styles/_intro.scss */
.intro-body {
  width: 30%;
  padding-top: 20px; }

/* line 48, /Users/dissakanpunyapab/tomorrowproject/project-webacts-src/src/app/styles/_intro.scss */
.intro.page {
  position: relative;
  height: auto; }
  /* line 51, /Users/dissakanpunyapab/tomorrowproject/project-webacts-src/src/app/styles/_intro.scss */
  .intro.page .intro-body {
    position: absolute;
    bottom: 20px; }
    /* line 55, /Users/dissakanpunyapab/tomorrowproject/project-webacts-src/src/app/styles/_intro.scss */
    .intro.page .intro-body .intro-title {
      width: 450px;
      height: 162px;
      background-color: #c12b38;
      text-align: left;
      -webkit-transform-style: preserve-3d;
      -moz-transform-style: preserve-3d;
      transform-style: preserve-3d; }
      /* line 64, /Users/dissakanpunyapab/tomorrowproject/project-webacts-src/src/app/styles/_intro.scss */
      .intro.page .intro-body .intro-title h1 {
        font-family: 'Lato', sans-serif;
        font-size: 56px;
        line-height: 0.8;
        font-weight: 900;
        text-transform: none;
        font-style: italic;
        padding: 20px;
        position: relative;
        top: 50%;
        transform: translateY(-50%); }
        /* line 76, /Users/dissakanpunyapab/tomorrowproject/project-webacts-src/src/app/styles/_intro.scss */
        .intro.page .intro-body .intro-title h1.long-title {
          font-size: 42px; }
        /* line 80, /Users/dissakanpunyapab/tomorrowproject/project-webacts-src/src/app/styles/_intro.scss */
        .intro.page .intro-body .intro-title h1 span {
          font-size: 36px; }
    /* line 85, /Users/dissakanpunyapab/tomorrowproject/project-webacts-src/src/app/styles/_intro.scss */
    .intro.page .intro-body .intro-text {
      font-family: 'Lato', sans-serif;
      padding: 20px; }
      /* line 89, /Users/dissakanpunyapab/tomorrowproject/project-webacts-src/src/app/styles/_intro.scss */
      .intro.page .intro-body .intro-text a {
        color: #DDBD6A; }
        /* line 91, /Users/dissakanpunyapab/tomorrowproject/project-webacts-src/src/app/styles/_intro.scss */
        .intro.page .intro-body .intro-text a:hover, .intro.page .intro-body .intro-text a:focus {
          color: #DDBD6A;
          text-decoration: underline; }

@media (min-width: 767px) {
  /* line 101, /Users/dissakanpunyapab/tomorrowproject/project-webacts-src/src/app/styles/_intro.scss */
  .intro.home {
    height: 50vw; } }

@media (min-width: 991px) {
  /* line 107, /Users/dissakanpunyapab/tomorrowproject/project-webacts-src/src/app/styles/_intro.scss */
  .intro.home {
    margin-top: 0; }
    /* line 111, /Users/dissakanpunyapab/tomorrowproject/project-webacts-src/src/app/styles/_intro.scss */
    .intro.home .intro-body {
      padding-top: 200px; }
      /* line 113, /Users/dissakanpunyapab/tomorrowproject/project-webacts-src/src/app/styles/_intro.scss */
      .intro.home .intro-body .brand-heading {
        font-size: 100px; }
    /* line 118, /Users/dissakanpunyapab/tomorrowproject/project-webacts-src/src/app/styles/_intro.scss */
    .intro.home .intro-body .intro-text {
      font-size: 25px; }
      /* line 120, /Users/dissakanpunyapab/tomorrowproject/project-webacts-src/src/app/styles/_intro.scss */
      .intro.home .intro-body .intro-text .topics {
        font-weight: 700;
        font-style: italic; }
  /* line 127, /Users/dissakanpunyapab/tomorrowproject/project-webacts-src/src/app/styles/_intro.scss */
  .intro.page {
    margin-top: 68px; }
    /* line 130, /Users/dissakanpunyapab/tomorrowproject/project-webacts-src/src/app/styles/_intro.scss */
    .intro.page .intro-body .intro-text {
      margin-top: 0px;
      font-size: 18px;
      text-align: left; } }

/* line 138, /Users/dissakanpunyapab/tomorrowproject/project-webacts-src/src/app/styles/_intro.scss */
.btn-circle {
  width: 70px;
  height: 70px;
  margin-top: 15px;
  padding: 7px 16px;
  border: 2px solid #fff;
  border-radius: 35px;
  font-size: 40px;
  color: #fff;
  background: 0 0;
  -webkit-transition: background .3s ease-in-out;
  -moz-transition: background .3s ease-in-out;
  transition: background .3s ease-in-out; }
  /* line 153, /Users/dissakanpunyapab/tomorrowproject/project-webacts-src/src/app/styles/_intro.scss */
  .btn-circle:hover, .btn-circle:focus {
    outline: 0;
    color: #fff;
    background: rgba(255, 255, 255, 0.1); }
  /* line 159, /Users/dissakanpunyapab/tomorrowproject/project-webacts-src/src/app/styles/_intro.scss */
  .btn-circle i.animated {
    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 1s;
    -moz-transition-property: -moz-transform;
    -moz-transition-duration: 1s; }
  /* line 166, /Users/dissakanpunyapab/tomorrowproject/project-webacts-src/src/app/styles/_intro.scss */
  .btn-circle:hover i.animated {
    -webkit-animation-name: pulse;
    -moz-animation-name: pulse;
    -webkit-animation-duration: 1.5s;
    -moz-animation-duration: 1.5s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear; }

/* line 1, /Users/dissakanpunyapab/tomorrowproject/project-webacts-src/src/app/styles/_sections.scss */
.home .content-section {
  padding-top: 0;
  padding-bottom: 100px; }

/* line 5, /Users/dissakanpunyapab/tomorrowproject/project-webacts-src/src/app/styles/_sections.scss */
.content-section {
  background-color: #232d40;
  padding-top: 100px; }
  /* line 9, /Users/dissakanpunyapab/tomorrowproject/project-webacts-src/src/app/styles/_sections.scss */
  .content-section ul {
    list-style-type: none;
    padding: 0;
    margin-bottom: 26px; }
    /* line 14, /Users/dissakanpunyapab/tomorrowproject/project-webacts-src/src/app/styles/_sections.scss */
    .content-section ul li a {
      font-size: 18px;
      font-weight: 700;
      line-height: 1.6;
      text-align: left; }
      /* line 19, /Users/dissakanpunyapab/tomorrowproject/project-webacts-src/src/app/styles/_sections.scss */
      .content-section ul li a:hover, .content-section ul li a:focus {
        color: #DDBD6A;
        text-decoration: underline; }

/* line 27, /Users/dissakanpunyapab/tomorrowproject/project-webacts-src/src/app/styles/_sections.scss */
.participate-section {
  width: 100%;
  padding: 50px 0;
  color: #fff;
  background: url(../assets/images/participate-bg2.jpg) no-repeat center center scroll;
  background-color: #000;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover; }

/* line 39, /Users/dissakanpunyapab/tomorrowproject/project-webacts-src/src/app/styles/_sections.scss */
#video-playlist {
  padding-top: 0; }
  /* line 42, /Users/dissakanpunyapab/tomorrowproject/project-webacts-src/src/app/styles/_sections.scss */
  #video-playlist .video-playlist-section {
    background-color: #eff2eb;
    padding: 20px 0; }
    /* line 46, /Users/dissakanpunyapab/tomorrowproject/project-webacts-src/src/app/styles/_sections.scss */
    #video-playlist .video-playlist-section .btn-lg, #video-playlist .video-playlist-section .btn-group-lg > .btn {
      font-size: 10px; }

/* line 52, /Users/dissakanpunyapab/tomorrowproject/project-webacts-src/src/app/styles/_sections.scss */
.bottom-section {
  font-weight: normal;
  background-color: #232d40;
  padding: 40px 0 40px;
  position: relative;
  overflow: hidden; }
  /* line 60, /Users/dissakanpunyapab/tomorrowproject/project-webacts-src/src/app/styles/_sections.scss */
  .bottom-section .divider {
    width: 100%;
    height: 10px;
    background-color: #BF3C1E; }
  /* line 68, /Users/dissakanpunyapab/tomorrowproject/project-webacts-src/src/app/styles/_sections.scss */
  .bottom-section h2 {
    font-size: 24px;
    font-weight: 900;
    text-transform: none;
    padding: 26px 0; }
    /* line 75, /Users/dissakanpunyapab/tomorrowproject/project-webacts-src/src/app/styles/_sections.scss */
    .bottom-section h2 span {
      color: #DDBD6A; }
  /* line 80, /Users/dissakanpunyapab/tomorrowproject/project-webacts-src/src/app/styles/_sections.scss */
  .bottom-section p {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 22px; }
  /* line 85, /Users/dissakanpunyapab/tomorrowproject/project-webacts-src/src/app/styles/_sections.scss */
  .bottom-section .intro_paragraph {
    float: left;
    width: 80%;
    padding-right: 20px; }
    /* line 90, /Users/dissakanpunyapab/tomorrowproject/project-webacts-src/src/app/styles/_sections.scss */
    .bottom-section .intro_paragraph p {
      font-family: 'Lato', sans-serif;
      font-size: 28px;
      font-weight: 700; }
  /* line 97, /Users/dissakanpunyapab/tomorrowproject/project-webacts-src/src/app/styles/_sections.scss */
  .bottom-section .stat_gfx {
    float: right;
    width: 20%; }
  /* line 102, /Users/dissakanpunyapab/tomorrowproject/project-webacts-src/src/app/styles/_sections.scss */
  .bottom-section .highlighted {
    color: #DDBD6A;
    font-size: 28px;
    line-height: 1.2;
    font-weight: 900; }
  /* line 109, /Users/dissakanpunyapab/tomorrowproject/project-webacts-src/src/app/styles/_sections.scss */
  .bottom-section a {
    color: #DDBD6A; }
    /* line 111, /Users/dissakanpunyapab/tomorrowproject/project-webacts-src/src/app/styles/_sections.scss */
    .bottom-section a:hover {
      color: #DDBD6A;
      text-decoration: underline; }
  /* line 117, /Users/dissakanpunyapab/tomorrowproject/project-webacts-src/src/app/styles/_sections.scss */
  .bottom-section .bottom_more {
    position: relative; }
    /* line 119, /Users/dissakanpunyapab/tomorrowproject/project-webacts-src/src/app/styles/_sections.scss */
    .bottom-section .bottom_more .more_block {
      background-color: rgba(0, 0, 0, 0.1);
      margin-top: 20px;
      padding: 20px 160px; }
    /* line 124, /Users/dissakanpunyapab/tomorrowproject/project-webacts-src/src/app/styles/_sections.scss */
    .bottom-section .bottom_more .intro_more {
      font-family: 'Playfair Display', serif;
      font-size: 28px;
      font-weight: 900;
      font-style: italic;
      padding: 0;
      margin-top: 20px;
      margin-bottom: 0; }
    /* line 134, /Users/dissakanpunyapab/tomorrowproject/project-webacts-src/src/app/styles/_sections.scss */
    .bottom-section .bottom_more ul {
      padding-left: 40px; }

/* line 140, /Users/dissakanpunyapab/tomorrowproject/project-webacts-src/src/app/styles/_sections.scss */
.slant {
  width: 0;
  height: 0;
  position: absolute;
  bottom: 0px;
  border-bottom: 450px solid #c12b38;
  border-left: 100vw solid transparent; }

@media (min-width: 767px) {
  /* line 151, /Users/dissakanpunyapab/tomorrowproject/project-webacts-src/src/app/styles/_sections.scss */
  .first.content-section, .info.content-section {
    padding-top: 118px; }
  /* line 154, /Users/dissakanpunyapab/tomorrowproject/project-webacts-src/src/app/styles/_sections.scss */
  .content-section {
    padding-top: 130px; }
  /* line 159, /Users/dissakanpunyapab/tomorrowproject/project-webacts-src/src/app/styles/_sections.scss */
  .participate-section, #donor {
    padding: 100px 0; }
  /* line 162, /Users/dissakanpunyapab/tomorrowproject/project-webacts-src/src/app/styles/_sections.scss */
  .bottom-section {
    padding: 10px 0 80px; }
    /* line 164, /Users/dissakanpunyapab/tomorrowproject/project-webacts-src/src/app/styles/_sections.scss */
    .bottom-section h2 {
      font-size: 44px; } }

@media (min-width: 991px) {
  /* line 172, /Users/dissakanpunyapab/tomorrowproject/project-webacts-src/src/app/styles/_sections.scss */
  #video-playlist .video-playlist-section {
    background-color: #232d40;
    padding-top: 40px; }
    /* line 176, /Users/dissakanpunyapab/tomorrowproject/project-webacts-src/src/app/styles/_sections.scss */
    #video-playlist .video-playlist-section videogular, #video-playlist .video-playlist-section [videogular] {
      border: 10px solid #19202F; }
    /* line 179, /Users/dissakanpunyapab/tomorrowproject/project-webacts-src/src/app/styles/_sections.scss */
    #video-playlist .video-playlist-section .btn-lg, #video-playlist .video-playlist-section .btn-group-lg > .btn {
      font-size: 18px; } }

/* line 1, /Users/dissakanpunyapab/tomorrowproject/project-webacts-src/src/app/styles/_videos.scss */
.videogular-container {
  width: 100%;
  margin: auto;
  overflow: hidden; }

/* line 8, /Users/dissakanpunyapab/tomorrowproject/project-webacts-src/src/app/styles/_videos.scss */
videogular vg-poster-image img {
  width: 100% !important; }

/* line 14, /Users/dissakanpunyapab/tomorrowproject/project-webacts-src/src/app/styles/_videos.scss */
.playlist li {
  margin-bottom: 26px; }
/* line 17, /Users/dissakanpunyapab/tomorrowproject/project-webacts-src/src/app/styles/_videos.scss */
.playlist ul li a {
  color: #c12b38;
  font-family: Montserrat, sans-serif;
  text-transform: uppercase;
  cursor: pointer; }
  /* line 22, /Users/dissakanpunyapab/tomorrowproject/project-webacts-src/src/app/styles/_videos.scss */
  .playlist ul li a:hover {
    color: #c12b38; }

@media (min-width: 1200px) {
  /* line 29, /Users/dissakanpunyapab/tomorrowproject/project-webacts-src/src/app/styles/_videos.scss */
  .videogular-container {
    width: 1156px;
    height: 658.125px; } }

@media (min-width: 992px) and (max-width: 1199px) {
  /* line 36, /Users/dissakanpunyapab/tomorrowproject/project-webacts-src/src/app/styles/_videos.scss */
  .videogular-container {
    width: 940px;
    height: 528.75px; } }

@media (min-width: 768px) and (max-width: 991px) {
  /* line 43, /Users/dissakanpunyapab/tomorrowproject/project-webacts-src/src/app/styles/_videos.scss */
  .videogular-container {
    width: 728px;
    height: 409.5px; } }

/* line 1, /Users/dissakanpunyapab/tomorrowproject/project-webacts-src/src/app/styles/_buttons.scss */
.btn {
  text-transform: uppercase;
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 400;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out; }

/* line 10, /Users/dissakanpunyapab/tomorrowproject/project-webacts-src/src/app/styles/_buttons.scss */
.btn-default {
  border: 5px solid #BF3C1E;
  color: #DDBD6A;
  background-color: transparent; }

/* line 16, /Users/dissakanpunyapab/tomorrowproject/project-webacts-src/src/app/styles/_buttons.scss */
.btn-lg {
  border-radius: 3px; }

/* line 21, /Users/dissakanpunyapab/tomorrowproject/project-webacts-src/src/app/styles/_buttons.scss */
.btn-default:hover, .btn-default:focus {
  border: 5px solid #c12b38;
  outline: 0;
  color: #FFF;
  background-color: #c12b38; }

/* line 28, /Users/dissakanpunyapab/tomorrowproject/project-webacts-src/src/app/styles/_buttons.scss */
ul.banner-social-buttons {
  margin-top: 0; }

/* line 32, /Users/dissakanpunyapab/tomorrowproject/project-webacts-src/src/app/styles/_buttons.scss */
.cta-floated {
  position: fixed;
  right: 20px;
  bottom: 100px;
  z-index: 5; }
  /* line 38, /Users/dissakanpunyapab/tomorrowproject/project-webacts-src/src/app/styles/_buttons.scss */
  .cta-floated .btn-default {
    color: #fff;
    height: 200px;
    background-color: #232d40;
    border: 5px solid #DDBD6A;
    border-radius: 100px;
    width: 200px;
    padding: 72px 0px; }
    /* line 47, /Users/dissakanpunyapab/tomorrowproject/project-webacts-src/src/app/styles/_buttons.scss */
    .cta-floated .btn-default span {
      font-family: 'Playfair Display', serif;
      font-size: 16px;
      font-weight: 700;
      font-style: italic;
      text-transform: none;
      letter-spacing: 0.04em; }

@media (max-width: 1199px) {
  /* line 59, /Users/dissakanpunyapab/tomorrowproject/project-webacts-src/src/app/styles/_buttons.scss */
  ul.banner-social-buttons {
    margin-top: 15px; } }

@media (max-width: 767px) {
  /* line 65, /Users/dissakanpunyapab/tomorrowproject/project-webacts-src/src/app/styles/_buttons.scss */
  ul.banner-social-buttons li {
    display: block;
    margin-bottom: 20px;
    padding: 0; }
  /* line 71, /Users/dissakanpunyapab/tomorrowproject/project-webacts-src/src/app/styles/_buttons.scss */
  ul.banner-social-buttons li:last-child {
    margin-bottom: 0; } }

@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('../fonts/glyphicons-halflings-regular.eot');
  src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg'); }

/* line 6, /Users/dissakanpunyapab/tomorrowproject/project-webacts-src/src/app/styles/_overlay.scss */
.info-overlay {
  color: #F0F1F0;
  font-size: 20px;
  text-align: left;
  background: #c12b38; }

/* line 12, /Users/dissakanpunyapab/tomorrowproject/project-webacts-src/src/app/styles/_overlay.scss */
.content {
  padding: 20px; }

/* line 15, /Users/dissakanpunyapab/tomorrowproject/project-webacts-src/src/app/styles/_overlay.scss */
.content h2 {
  text-align: center; }

/* line 18, /Users/dissakanpunyapab/tomorrowproject/project-webacts-src/src/app/styles/_overlay.scss */
.info-overlay > button {
  color: #1BBA9A;
  display: block;
  background: #fcfcfc;
  /* center the button: */
  left: -125px;
  margin: 20px 50%;
  position: relative; }

/* line 28, /Users/dissakanpunyapab/tomorrowproject/project-webacts-src/src/app/styles/_overlay.scss */
.close {
  font-size: 32px;
  color: #000;
  margin: 10px; }

/* line 28, /Users/dissakanpunyapab/tomorrowproject/project-webacts-src/src/app/styles/index.scss */
html, body {
  height: 100%; }

/* line 32, /Users/dissakanpunyapab/tomorrowproject/project-webacts-src/src/app/styles/index.scss */
body {
  width: 100%;
  height: 100%;
  font-family: Lato,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 300;
  color: #fff;
  background-color: #eff2eb; }

/* line 41, /Users/dissakanpunyapab/tomorrowproject/project-webacts-src/src/app/styles/index.scss */
body.home {
  background-color: #000; }

/* line 50, /Users/dissakanpunyapab/tomorrowproject/project-webacts-src/src/app/styles/index.scss */
h1, h2, h3, h4, h5, h6 {
  margin: 0 0 35px;
  text-transform: uppercase;
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 700;
  letter-spacing: 1px; }

/* line 58, /Users/dissakanpunyapab/tomorrowproject/project-webacts-src/src/app/styles/index.scss */
p {
  margin: 0 0 25px;
  font-size: 18px;
  line-height: 1.5; }
  @media (min-width: 767px) {
    p {
      margin: 0 0 35px;
      font-size: 20px;
      line-height: 1.6; } }

/* line 70, /Users/dissakanpunyapab/tomorrowproject/project-webacts-src/src/app/styles/index.scss */
a {
  color: #c12b38;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out; }
  /* line 77, /Users/dissakanpunyapab/tomorrowproject/project-webacts-src/src/app/styles/index.scss */
  a:hover, a:focus {
    text-decoration: none;
    color: #11505d; }

/* line 83, /Users/dissakanpunyapab/tomorrowproject/project-webacts-src/src/app/styles/index.scss */
img {
  width: 100%;
  max-width: 100%;
  height: auto; }

/* line 89, /Users/dissakanpunyapab/tomorrowproject/project-webacts-src/src/app/styles/index.scss */
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

/* line 97, /Users/dissakanpunyapab/tomorrowproject/project-webacts-src/src/app/styles/index.scss */
footer {
  padding: 25px 0; }

/* line 101, /Users/dissakanpunyapab/tomorrowproject/project-webacts-src/src/app/styles/index.scss */
footer .nav > li > a {
  text-transform: uppercase; }

/* line 105, /Users/dissakanpunyapab/tomorrowproject/project-webacts-src/src/app/styles/index.scss */
footer .nav > li > a {
  color: #c12b38; }
  /* line 107, /Users/dissakanpunyapab/tomorrowproject/project-webacts-src/src/app/styles/index.scss */
  footer .nav > li > a:hover {
    color: #c12b38;
    background-color: transparent; }

/* line 113, /Users/dissakanpunyapab/tomorrowproject/project-webacts-src/src/app/styles/index.scss */
footer p {
  color: #c12b38;
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
  line-height: 40px;
  margin: 0; }

/* line 121, /Users/dissakanpunyapab/tomorrowproject/project-webacts-src/src/app/styles/index.scss */
.light {
  font-weight: 400; }

/* line 125, /Users/dissakanpunyapab/tomorrowproject/project-webacts-src/src/app/styles/index.scss */
::-moz-selection {
  text-shadow: none;
  background: #fcfcfc;
  background: rgba(255, 255, 255, 0.2); }

/* line 131, /Users/dissakanpunyapab/tomorrowproject/project-webacts-src/src/app/styles/index.scss */
::selection {
  text-shadow: none;
  background: #fcfcfc;
  background: rgba(255, 255, 255, 0.2); }

/* line 137, /Users/dissakanpunyapab/tomorrowproject/project-webacts-src/src/app/styles/index.scss */
img::selection {
  background: 0 0; }

/* line 141, /Users/dissakanpunyapab/tomorrowproject/project-webacts-src/src/app/styles/index.scss */
img::-moz-selection {
  background: 0 0; }

/* line 145, /Users/dissakanpunyapab/tomorrowproject/project-webacts-src/src/app/styles/index.scss */
body {
  webkit-tap-highlight-color: rgba(255, 255, 255, 0.2); }

@-webkit-keyframes pulse {
  /* line 151, /Users/dissakanpunyapab/tomorrowproject/project-webacts-src/src/app/styles/index.scss */
  0 {
    -webkit-transform: scale(1);
    transform: scale(1); }

  /* line 156, /Users/dissakanpunyapab/tomorrowproject/project-webacts-src/src/app/styles/index.scss */
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2); }

  /* line 161, /Users/dissakanpunyapab/tomorrowproject/project-webacts-src/src/app/styles/index.scss */
  100% {
    -webkit-transform: scale(1);
    transform: scale(1); } }

@-moz-keyframes pulse {
  /* line 168, /Users/dissakanpunyapab/tomorrowproject/project-webacts-src/src/app/styles/index.scss */
  0 {
    -moz-transform: scale(1);
    transform: scale(1); }

  /* line 173, /Users/dissakanpunyapab/tomorrowproject/project-webacts-src/src/app/styles/index.scss */
  50% {
    -moz-transform: scale(1.2);
    transform: scale(1.2); }

  /* line 178, /Users/dissakanpunyapab/tomorrowproject/project-webacts-src/src/app/styles/index.scss */
  100% {
    -moz-transform: scale(1);
    transform: scale(1); } }

/* line 184, /Users/dissakanpunyapab/tomorrowproject/project-webacts-src/src/app/styles/index.scss */
[ng-cloak] {
  display: block; }

/* line 188, /Users/dissakanpunyapab/tomorrowproject/project-webacts-src/src/app/styles/index.scss */
input {
  color: #111; }

/* line 192, /Users/dissakanpunyapab/tomorrowproject/project-webacts-src/src/app/styles/index.scss */
#postTest {
  margin: 0 auto; }

/* line 197, /Users/dissakanpunyapab/tomorrowproject/project-webacts-src/src/app/styles/index.scss */
.on {
  display: block; }

/* line 201, /Users/dissakanpunyapab/tomorrowproject/project-webacts-src/src/app/styles/index.scss */
.off {
  display: none; }

/* line 206, /Users/dissakanpunyapab/tomorrowproject/project-webacts-src/src/app/styles/index.scss */
#svg {
  transform: rotate(-90deg);
  float: right; }

/* line 211, /Users/dissakanpunyapab/tomorrowproject/project-webacts-src/src/app/styles/index.scss */
section.progress-container {
  display: block;
  height: 200px;
  width: 200px;
  margin: 20px auto;
  position: relative; }

/* line 219, /Users/dissakanpunyapab/tomorrowproject/project-webacts-src/src/app/styles/index.scss */
circle#empty {
  stroke: #ededed;
  stroke-width: 5px;
  color: red; }

/* line 225, /Users/dissakanpunyapab/tomorrowproject/project-webacts-src/src/app/styles/index.scss */
circle#percent-loaded {
  transition: stroke-dashoffset 1.6 ease-out;
  transition-delay: 1s;
  stroke: #DDBD6A;
  stroke-width: 5px; }

/* line 232, /Users/dissakanpunyapab/tomorrowproject/project-webacts-src/src/app/styles/index.scss */
#chart-percent {
  fill: #fff; }

/* line 236, /Users/dissakanpunyapab/tomorrowproject/project-webacts-src/src/app/styles/index.scss */
#chart-percent-text {
  font-family: 'Playfair Display', serif;
  fill: #fff; }

/*# sourceMappingURL=index.css.map */