// Import Google Fonts
@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700,900,900italic|Montserrat:400,700|Playfair+Display:400italic,700italic,900italic|Roboto+Condensed:400,700");

// @import 'variables';
// @import 'vendor';
@import 'navbar';
@import 'intro';
@import 'sections';
// @import 'videogular';
@import 'videos';
@import 'buttons';
@import 'overlay';
@import 'pages';
@import 'overrides';

// Mixins
@mixin vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
%vertical-align {
  @include vertical-align;
}

// @Base
html {
  position: relative;
  min-height: 100%;
}
// html,body {
//   height: 100%;
// }

body {
  width: 100%;
  height: 100%;
  font-family: Lato,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 300;
  color: #fff;
  background-color: #232d40;
  margin-bottom: 90px;
}

body.home {
  background-color: #000;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 35px;
  text-transform: uppercase;
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 700;
  letter-spacing: 1px;
}

p {
  margin: 0 0 25px;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0.04em;

  @media(min-width:767px) {
    margin: 0 0 35px;
    font-size: 20px;
    line-height: 1.6;
  }
}

a {
  color: #c12b38;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;

  &:hover,
  &:focus {
    text-decoration: none;
    color: #11505d;
  }
}

img {
  width:100%;
  max-width: 100%;
  height: auto;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

// @Footer
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 90px;
  background-color: #eff2eb;
  padding: 25px 0;

  p {
    color: #c12b38;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    @media(min-width: $screen-sm-min - 1) {
      font-size: 12px;
      line-height: 40px;
    }
    line-height: 1.6;
    margin: 0;
  }
}

footer .nav>li>a {
  text-transform: uppercase;
}

footer .nav>li>a {
    color: #c12b38;
  &:hover {
    color: #c12b38;
    background-color: transparent;
  }
}

// @Helpers
.light {
  font-weight: 400;
}

.disclaimer {
  text-align: left;
  @media(min-width: $screen-md-min - 1) {
    text-align: right;
  }
}

::-moz-selection {
  text-shadow: none;
  background: #fcfcfc;
  background: rgba(255,255,255,.2);
}

::selection {
  text-shadow: none;
  background: #fcfcfc;
  background: rgba(255,255,255,.2);
}

img::selection {
  background: 0 0;
}

img::-moz-selection {
  background: 0 0;
}

body {
  webkit-tap-highlight-color: rgba(255,255,255,.2);
}

// Animations
@-webkit-keyframes pulse {
  0 {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@-moz-keyframes pulse {
  0 {
    -moz-transform: scale(1);
    transform: scale(1);
  }

  50% {
    -moz-transform: scale(1.2);
    transform: scale(1.2);
  }

  100% {
    -moz-transform: scale(1);
    transform: scale(1);
  }
}

[ng-cloak] {
  display: block;
}

input {
  color: #111;
}

#postTest {
  // display: none;
  margin: 0 auto;
}

.on {
  display: block;
}

.off {
  display: none;
}

// Test
#svg{
   transform: rotate(-90deg);
   float: right;
}

section.progress-container{
  display: block;
  height: 200px;
  width: 200px;
  margin: 20px auto;
  position: relative;
}

circle#empty{
  stroke: #ededed;
  stroke-width: 5px;
  color: red;
}

circle#percent-loaded{
 transition: stroke-dashoffset 1.6 ease-out;
  transition-delay: 1s ;
  stroke: #DDBD6A;
  stroke-width: 5px;
}

#chart-percent {
  fill: #fff;
}

#chart-percent-text {
  font-family: 'Playfair Display', serif;
  fill: #fff;
}

// injector
// endinjector
