<section style="padding-top:40px;">
  <div class="intro-body">
    <div class="container">
      <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
          <div class="content">
            <h2>WEb ACTs Pre Study Questionnaire</h2>
            <p></p>
            <div id="surveyMonkeyInfo" style="width:1000px;font-size:10px;color:#666;margin:0 auto;"><div><iframe id="sm_e_s" src="https://www.surveymonkey.com/r/6QJCYNY" width="1000" height="500" style="border:0px;padding-bottom:4px;" frameborder="0" allowtransparency="true" ></iframe></div></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
