<div class="navbar navbar-custom navbar-fixed-top ng-untouched ng-valid ng-scope ng-dirty ng-valid-parse" role="navigation" ng-model="collapsed" bs-navbar="" bs-collapse="">
  <div class="contain">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" bs-collapse-toggle="" data-toggle="collapse">MENU <i class="fa fa-bars"></i>
      </button>
      <a class="navbar-brand page-scroll logo" ui-sref="home" href="#/"><img src="assets/images/logo.png" alt="">
      </a>
    </div>
    <div class="collapse navbar-collapse navbar-right navbar-main-collapse am-collapse" bs-collapse-target="">
      <ul class="nav navbar-nav">
        <li><a ui-sref="act-now" href="/act-now" bs-collapse-toggle="" data-toggle="collapse">Act Now</a>
        </li>
        <li><a ui-sref="fairness-in-organ-allocation" href="/fairness-in-organ-allocation" bs-collapse-toggle="" data-toggle="collapse">Fairness In Organ Allocation</a>
        </li>
        <li><a ui-sref="fairness-in-healthcare-delivery" href="/fairness-in-healthcare-delivery" bs-collapse-toggle="" data-toggle="collapse">Fairness In Healthcare Delivery</a>
        </li>
        <li><a ui-sref="religious-belief" href="/religious-belief" bs-collapse-toggle="" data-toggle="collapse">Religious Belief</a>
        </li>
        <li><a ui-sref="lets-talk-about-life" href="/lets-talk-about-life" bs-collapse-toggle="" data-toggle="collapse">Let's Talk About Life: Donation Intentions</a>
        </li>
      </ul>
    </div>
  </div>
</div>
