<div class="navbar navbar-custom navbar-fixed-top" role="navigation">
  <div class="contain">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse" ng-click="isCollapsed = !isCollapsed">
        MENU <i class="fa fa-bars"></i>
      </button>
      <a class="navbar-brand page-scroll logo" ui-sref="home" href="/">
        <img src="assets/images/logo.png" alt="">
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse navbar-right navbar-main-collapse" bs-collapse-target>
      <ul class="nav navbar-nav">
        <li>
          <a ui-sref="act-now" href="/act-now" bs-collapse-toggle>Act Now</a>
        </li>
        <li>
          <a ui-sref="fairness-in-organ-allocation" href="/fairness-in-organ-allocation" bs-collapse-toggle>Fairness In Organ Allocation</a>
        </li>
        <li>
          <a ui-sref="fairness-in-healthcare-delivery" href="/fairness-in-healthcare-delivery" bs-collapse-toggle>Fairness In Healthcare Delivery</a>
        </li>
        <li>
          <a ui-sref="religious-belief" href="/religious-belief" bs-collapse-toggle>Religious Belief</a>
        </li>
        <li>
          <a ui-sref="lets-talk-about-life" href="/lets-talk-about-life" bs-collapse-toggle>Let's Talk About Life: Donation Intentions</a>
        </li>
      </ul>

    </div>
  </div>
</div>
