<!-- Intro Header -->
<header class="intro page">
  <div class="intro-banner">
  </div>

  <div class="intro-body">
    <div class="intro-title animated fadeIn">
      <h1>Fairness <br><span>In Organ Allocation</span></h1>
    </div>
    <p class="intro-text animated fadeIn">Many African Americans fear that if they needed an organ, it would probably go to a white person on the waiting list before they are selected as a recipient.</p>
    </div>
  </div>
</header>

<section id="video-playlist" class="content-section">
  <div class="video-playlist-section">
    <div class="videogular-container">
      <videogular vg-theme="organAllocation.config.theme.url">
        <vg-media vg-src="organAllocation.config.sources"
                  vg-tracks="organAllocation.config.tracks">
        </vg-media>

        <vg-controls>
          <vg-play-pause-button></vg-play-pause-button>
          <vg-time-display>{{ currentTime | date:'mm:ss' }}</vg-time-display>
          <vg-scrub-bar>
            <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
          </vg-scrub-bar>
          <vg-time-display>{{ timeLeft | date:'mm:ss' }}</vg-time-display>
          <vg-time-display>{{ totalTime | date:'mm:ss' }}</vg-time-display>
          <vg-volume>
            <vg-mute-button></vg-mute-button>
            <vg-volume-bar></vg-volume-bar>
          </vg-volume>
          <vg-fullscreen-button></vg-fullscreen-button>
        </vg-controls>

        <vg-analytics vg-track-info="organAllocation.config.plugins.analytics"></vg-analytics>
        <vg-overlay-play></vg-overlay-play>
        <vg-poster vg-url='organAllocation.config.plugins.poster'></vg-poster>
      </videogular>
    </div>
    <div class="container" style="margin-top:26px;">
      <div class="pull-left">
        <a class="btn btn-default btn-lg" ui-sref="act-now" href="/act-now"><i class="fa fa-chevron-left"></i> Act Now</a>
      </div>
      <div class="pull-right">
        <a class="btn btn-default btn-lg" ui-sref="fairness-in-healthcare-delivery" href="/fairness-in-healthcare-delivery">Fairness In Healthcare Delivery <i class="fa fa-chevron-right"></i></a>
      </div>
    </div>
  </div>
</section>

<!-- External Web links Section -->
<section class="content-section" style="padding-top:0;">
  <div class="bottom-section">
    <div class="slant"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="cta-floated">
            <a href="https://www.donatelifegeorgia.org/register/" class="btn btn-default btn-lg" target="_blank">Register <br>Now</a>
          </div>
          <div class="divider"></div>
          <div class="section-heading">
            <h2><span>While unfairness in the healthcare system</span> exists, there are measures in place within the organ allocation system so that everyone can be treated fairly.</h2>
          </div>
          <p><a href="http://www.unos.org/index.php" target="_blank">United Network for Organ Sharing (UNOS)</a> is a national organization that manages the organ allocation process. UNOS manages the waiting list, collects organ transplant data and provides organ transplant education.</p>
          <p> Giving the gift of life through donation requires a great deal of teamwork between physicians, nurses, hospital staff, the Organ Procurement Organization (OPO) staff and transplant teams. The steps to successful organ donation can be found here: <a href="http://organdonor.gov/about/organdonationprocess.html" target="_blank">US Department of Health and Human Services: Organ Donation: the Process</a></p>

          <div class="bottom_more">
            <div class="more_block">
              <div class="more_bg"></div>
              <div class="row">
                <div class="col-lg-6">
                  <img src="assets/images/oa_5years.svg" atl="">
                </div>
                <div class="col-lg-6">
                  <img src="assets/images/oa_3years.svg" atl="">
                </div>

                <div class="col-lg-12">

                  <p class="text-center" style="margin-top:20px;">African Americans wait almost an additional 1.5 years as compared to whites.<a href="http://optn.transplant.hrsa.gov/converge/latestData/step2.asp" target="_blank">*</a></p>
                </div>
              </div>
            </div>
          </div>
          <br>
          <p>There’s a UNOS policy effective December 2014 that should help improve access to transplant for African Americans.<a href="http://advancingyourhealth.org/transplant/2014/12/11/unos-kidney-allocation-system-changes/" target="_blank">*</a> Time on the waiting list is one of the factors that determines how quickly you receive an organ. Under the new policy, time spent on <a href="" data-animation="am-flip-x" bs-tooltip="organAllocation.tooltip">dialysis</a> (more African Americans are on <a href="" data-animation="am-flip-x" bs-tooltip="organAllocation.tooltip">dialysis</a> than whites) is included in time spent on the waiting list. For African Americans on <a href="" data-animation="am-flip-x" bs-tooltip="organAllocation.tooltip">dialysis</a>, this new policy is expected to allow them to receive organs sooner than before.</p>

          <div class="divider"></div>

          <div class="bottom_more">
            <div class="more_block">
              <div class="more_bg"></div>
              <h2 class="intro_more">To learn more...</h2>
              <p>...about the organ transplantation process, click on the following link: </p>
              <p><a href="http://www.unos.org/donation/index.php?topic=organ_allocation" target="_blank">UNOS Organ Allocation Process</a></p>
            </div>
          </div>

          <div class="bottom_more">
            <div class="more_block">
              <div class="more_bg"></div>
              <h2 class="intro_more">To learn more about...</h2>
              <p>...The fairness in healthcare delivery, view the following video: </p>
              <p><a ui-sref="fairness-in-healthcare-delivery" href="/fairness-in-healthcare-delivery">Fairness In Healthcare Delivery >></a></p>
            </div>
          </div>
          <p class="highlighted">After exploring this website and becoming informed about the facts, think about registering on your state website to give the most precious gift of all – the gift of life.</p>

        </div>
      </div>
    </div>
  </div>
</section>
